.divMainSide {
  height: 100vh;
  width: 8vw;
  overflow-y: scroll;
  background-color: #191d1f;
}

.logo {
  width: 60px;
}

a {
  color: #bab8b8;
}

button {
  background-color: #ffba03;
}

.logout {
  color: black;
  font-weight: 700;
}

.plano {
  background-color: #1cbaa6;
}

.planoEscolhido {
  font-size: x-small;
}

.linksActive {
  background-color: #1cbaa6;
}

.linkHover:hover {
  color: #ffba03;
}
  