.divMainSide {
  height: 100vh;
  width: 9vw;
  overflow-y: scroll;
} 

.logo {
  width: 75px;
  object-fit: cover;
}
a {
  color: #bab8b8;
}
button {
  background-color: #ffba03;
}

.plano {
  background-color: #1cbaa6;
}

.planoEscolhido {
  font-size: x-small;
}

.linksActive {
  background-color: #1cbaa6;
}

.linkHover:hover {
  color: #ffba03;
}

.sizeUserText{
  font-size: smaller;
}

#colorLogout{
  color: black;
}