.input-wrapper {
  position: relative;
  /* width: 100%; */
  /* max-width: 300px; */
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Espaço para a lupa */
  border: 2px solid white;
  border-radius: 5px;
  background-color: #191d1f;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-wrapper input::placeholder {
  color: #aaaaaa;
}

.input-wrapper input:focus {
  border-color: #1cbaa6;
}

.input-wrapper .icon {
  position: absolute;
  top: 50%;
  right:22px;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  pointer-events: none;
}