<div class="container-fluid p-0 d-flex">
  <app-sidebar></app-sidebar>
  <div class="container-fluid mainHome m-0">
    <h5 class="text-white p-3 text-center">Hey [Usuário], welcome to Pactto!</h5>


    <div class="container-fluid d-flex flex-column gap-2">

      <p class="m-0 h2"><span class="rounded-pill text-white px-2 py-1">DONE</span>
        Open your inbox and verify your email
      </p>
      <p class="m-0 h2"><span class="rounded-pill text-white px-2 py-1">DONE</span>
        Check the <a href=""> short video of Pactto in action </a></p>
      <p class="m-0 h2"><span class="rounded-pill text-white px-2 py-1">DONE</span>
        Wanna record your computer screen or review files? Download Pactto for <a href="">Mac</a> or <a
          href="">Windows</a></p>
      <p class="m-0 h2"><span class="rounded-pill text-white px-2 py-1">DONE</span>
        Wanna review videos, images or audio files with your phone or tablet? Download Pactto for <a href="">iOS</a> or
        <a href="">Android</a>
      </p>
    </div>


    <div class="container-fluid">
      <app-input-home></app-input-home>
    </div>




  </div>






</div>